.gameDetailsContainer {
  position: relative;
}

/* Hero banner */
.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.bannerOverlay {
  background: linear-gradient(transparent, rgba(0,0,0,0.9));
  width: 100%;
  padding: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerOverlay h1 {
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.addBtn {
  background-color: var(--color-accent);
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  will-change: scale;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.addBtn:hover {
  background-color: var(--color-accent-hover);
  transform: scale(0.95);
  transition: transform 0.2s ease;
}

/* Content Layout */
.content {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.mainColumn {
  flex: 3; 
}

.sidebar {
  flex: 1; 
}

/* Description */
.description {
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

/* Screenshot Gallery */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 40px;
}

.screenshot {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.2s;
}

.screenshot:hover {
  transform: scale(1.05);
}

/* Video section */
.video {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Further info stats */
.statBox {
  background: var(--color-bg-muted);
  padding: 20px;
  border-radius: 12px;
}

.statItem {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.statItem ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.mediaModal {
  width: 100svw;
  height: 100svh;
  background-color: rgba(0,0,0,0.5);
  z-index: 888;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  /* transition properties */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  will-change: opacity;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mediaCont {
  width: 60svw;
  aspect-ratio: 16 / 9;
  background-color: var(--color-bg-muted);
  display: flex;
  justify-content: center;
  align-items: center;

  /* scaling animation */
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.visible .mediaCont {
  transform: scale(1);
}

.displayedMedia {
  width: 100%;
  aspect-ratio: 16 / 9;
}