.homeContainer {
  width: 100%;
}

/* Featured section */
.featured {
  padding: 40px;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.featured h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  border-left: 5px solid #ff0055;
  padding-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.loadingCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}