.shopPage {
  padding: 10px 30px 0px 30px;
}

.initialLoad {
  margin-top: 100px;
}

/* .loadingText {
  font-size: 1.2rem;
} */

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.loadingCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.pageTitle {
  font-size: 2rem;
  margin-bottom: 30px;
  border-left: 5px solid var(--color-accent);
  padding-left: 15px;
}

@media (max-width: 768px) {
  .results {
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}