.confirmModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  z-index: 888;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.confirmCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1.5rem;
  background-color: var(--color-bg-muted);
  padding: 10px;
  border-radius: 10px;
}

.confirmCont p {
  font-size: 1.5rem;
  text-align: center;
}