.container {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  color: var(--color-text-main);
  background-color: var(--color-bg-muted);
  border: none;
  padding: 0.4rem;
  border-radius: 5px;

  /* set desktop width */
  width: 250px;

  transition: width 0.3s ease;
}

input:focus-visible {
 box-shadow: 0px 0px 2px var(--color-primary);
  border: none;
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 20%;
}

@media (max-width: 900px) {
  input {
    width: 200px;
  }
}

@media (max-width: 600px) {
  input {
    width: 150px;
  }
}