.container {
  position: relative;
}

input {
  color: var(--color-text-main);
  background-color: var(--color-bg-muted);
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
}

input:focus-visible {
 box-shadow: 0px 0px 2px var(--color-primary);
  border: none;
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 20%;
}