.container {
  position: relative;
}

input {
  background-color: var(--color-bg-muted);
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 20%;
}