.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 300;
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #eee;
}

.badge {
  margin-left: 5px;
  font-weight: bold;
  color: red;
}
