.cartSideItem {
  position: relative;
  display: flex;
  gap: 0.5rem;
  padding-right: 1.2rem;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardImg, .imgFallback {
  width: 40%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 4px;
}

.priceBtns {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.itemPrice {
  color: var(--color-primary);
  font-weight: 700;
}

.itemBtns {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.quantity {
  font-size: 0.8rem;
  width: 1.5rem;
  text-align: center;
  flex-shrink: 0;
}

.quantityBtn {
  color: var(--color-accent);
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-size: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}