.cart {
  display: none;
  width: 100svw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.open {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* High Z-Index to sit on top */
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0; 
  width: 350px;
  height: 100svh;
  background: var(--color-bg-muted);
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
  box-sizing: border-box;
}

.sideList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  overflow-y: auto; /* Allows scrolling if list is long */
  margin-top: 20px;
  min-height: 0;
}

.footer {
  border-top: 1px solid var(--color-accent);
  flex-shrink: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.totalContainer {
  display: flex;
}

.grandTotal {
  margin-left: auto;
}

.checkOutBtn {
  width: 100%;  
  background-color: var(--color-primary);
  color: var(--color-bg-muted);
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.checkOutBtn:hover {
  background-color: var(--color-primary-hover);
}